@page {
  size: letter;
  margin: 100px;
}
@media print {
  .header,.suite-banner {
    display: none
  }
  .all-releases-page.title-page {
    page-break-after: always;
   }
  .sidebar {
    page-break-after: always;
  }
}

.all-releases-page.title-page {
  text-align: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
 }

/*
 * Blog name and description
 */
 .blog-post-meta {
  color: #9eabb3;
  font-size: 14px;
}

h2.blog-post-title {
  margin-bottom: 5px;
  font-size: 42px;
}
h1.blog-post-title {
  margin-bottom: 5px;
  font-size: 4rem;
}
.blog-post-single {
  padding: 60px 120px;
}
.label {
  border-radius: 25px !important;
  color: #fff;
  padding: .2em .6em .3em;
  display: inline;
  font-weight: 400;
}

.label-grey {
  background-color: #848586;
}

.label-orange {
  background-color: #f1844a;
}

.label-green {
  background-color: #7FC65E;
}

.label-blue {
  background-color: #5896bb;
}

h3 .label {
  font-weight: normal;
  font-size: 18px;
}

.paginator {
  display: flex;
  text-align: center;
  width: 100%;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-direction: row;
}
.page-item {
  padding: 6px;
  &.active .page-link {
    z-index: 1;
    color: #4A4A4A;
  }
}

.suite-banner {
  padding: 14px 30px;
  background-color: #073551;
  color: #ffffff;

  &.deprecated {
    background-color: #FFF1DA;
    span {
      color: #4A4A4A;
      width: 100%;
      text-align: center;
      margin: 5px auto;
      font-size: 14px;
      font-weight: 400;
    }
    a {
      color: #326DE6;
    }
    a:hover {
      text-decoration: underline;
    }
  }

  .repl-logo-white {
    width: 83px;
    height: 20px;
    background-image: url("/images/repl-white.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  a {
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    color: #ffffff;

    .banner-arrow {
      position: relative;
      margin-left: 6px;
      top: 4px;
      right: 0;
      width: 9px;
      height: 16px;
      background-image: url("/images/banner-arrow.png");
      background-repeat: no-repeat;
      background-size: 100%;
      display: inline-block;
      transition: all 0.2s;
    }

    &:hover .banner-arrow {
      right: -4px;
    }
  }
}

.page-home {
  text-align: center;
  .landing-logo {
    width: 204px;
    height: 80px;
    margin: 0 auto;
    background-image: url("/images/kots.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
  p {
    margin: 30px auto;
    font-family: $font-family-ubuntu;
    font-size: 22px;
    font-weight: 500;
    @include media-breakpoint-up(md) {
      width: 80%;
    }
    @include media-breakpoint-up(lg) {
      width: 460px;
    }
  }
  .terminal {
    border-radius: 3px;
    margin: 0 auto;
    margin-top: -200px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
