*.DS_Store
.vscode/
.idea/
*.swp

# Directories
node_modules/
public/
java/
content/docs/reference/vendor-api/*.md
content/docs/reference/vendor-api.md

tmp_swagger.adoc
swagger2markup-*.jar

# Logs
logs
*.log

hugo
