
/* shortcode callouts / notes / warnings */
.admonition {
  background-color: #2a98cb;
  padding: 16px 24px;
  border-radius: 6px;
  margin: 30px 0;
}

.admonition.warning {
  background-color: #f9b84e;
}
.admonition p {
  color: #ffffff !important;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.admonition code {
  color: #222 !important;
}
.admonition a {
  color: #ffffff;
  text-decoration: underline;
}
.admonition p.admonition-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
.admonition p.admonition-title::before {
  content: "";
  background-image: url("/images/main_spritesheet.svg");
  background-repeat: no-repeat;
  background-size: initial;
  display: inline-block;
  background-position: -70px -79px;
  width: 13px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 4px;
}
.admonition.warning p.admonition-title::before {
  background-position: -72px -158px;
  width: 18px;
  height: 17px;
}

.content {
  -webkit-font-smoothing: antialiased;
  .highlight {
    border-radius: 2px;
    margin-bottom: 20px;
  }
  code {
    background: #f5f5f5;
    padding: 3px 6px;
    border-radius: 3px;
    font-family: $font-family-mono;
    font-size: 0.9rem;
    line-height: 1.4;
  }
  pre {
    font-family: $font-family-mono;
    font-size: 0.9rem;
    line-height: 1.4;
    margin: 0;
    padding: 20px 25px;
    border-radius: 8px;
    code {
      font-family: $font-family-mono;
      font-size: 1rem;
      line-height: 1.4;
      border-radius: none;
      padding: 0;
      margin: 0;
      background: none;
    }
  }
  
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
    font-weight: normal;
  }
  ol {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: decimal;
    li {
      margin-bottom: 5px;
      margin-left: 20px;
    }
  }
  ul {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: disc;
    li {
      margin-bottom: 5px;
      margin-left: 20px;
    }
  }
  a {
    text-decoration: underline;
  }
  p {
    font-family: $font-family-base;
    font-size: 1rem;
    line-height: 1.4;
    color: lighten($black, 10%);
    font-weight: 400;
  }
  h1 {
    font-family: $font-family-base;
    font-size: 2.6rem;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: -0.01em;
    font-family: $font-family-base;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 400;
    font-family: $font-family-base;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 500;
    font-family: $font-family-base;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 600;
    font-family: $font-family-base;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 700;
    font-family: $font-family-base;
    margin-bottom: 20px;
  }
  blockquote {
    background: none;
    border-left: 5px solid #ccc;
    margin: 3em 10px;
    padding: 0.5em 10px;
    quotes: '\201C''\201D''\2018''\2019';
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }
  blockquote p {
    display: inline;
  }

  /* BLOCKQUOTE SHORTCODE */

  .blockquote-v2 {
    font-size: 22px;
    font-style: italic;
    font-family: 'NTR', sans-serif; 
    line-height: 30px;
    margin: 50px 10% 50px 10% !important;

  }

  .blockquote-speaker {
    width: 100%;
    text-align: right;
    display: inline-block;
    font-size: 16px;
  }
  
  .blockquote-link {
    display: inline-block;
    font-size: 14px;
  }
  
  table {
    @extend .table;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}


/*-- Copy Code Button --*/ 

.copy-code-button {
    color: #525252;
    background-color: rgb(229, 232, 243);
    border: none;
    border-radius: 3px 3px 0px 0px;
  
    /* right-align */
    display: block;
    margin-left: auto;
    margin-right: 13px;
  
    margin-bottom: -2px;
    padding: 8px 14px;
    font-size: 0.9em;
    font-weight: bold;
  }
  
  .copy-code-button:hover {
    cursor: pointer;
    background-color: #F2F2F2;
  }
  
  .copy-code-button:focus {
    /* Avoid an ugly focus outline on click in Chrome,
       but darken the button for accessibility.
       See https://stackoverflow.com/a/25298082/1481479 */
    background-color: #E6E6E6;
    outline: 0;
  }
  
  .copy-code-button:active {
    background-color: #D9D9D9;
  }
  
  .highlight pre {
    /* Avoid pushing up the copy buttons. */
    margin: 0;
  }

