
/* shortcode callouts / notes / warnings */
.admonition {
  background-color: #2a98cb;
  padding: 16px 24px;
  border-radius: 6px;
  margin: 30px 0;
}

.admonition.warning {
  background-color: #f9b84e;
}
.admonition p {
  color: #ffffff !important;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.admonition code {
  color: #222 !important;
}
.admonition a {
  color: #ffffff;
  text-decoration: underline;
}
.admonition p.admonition-title {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  margin-bottom: 10px;
  padding-left: 30px;
  position: relative;
}
.admonition p.admonition-title::before {
  content: "";
  background-image: url("/images/main_spritesheet.svg");
  background-repeat: no-repeat;
  background-size: initial;
  display: inline-block;
  background-position: -70px -79px;
  width: 13px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 4px;
}
.admonition.warning p.admonition-title::before {
  background-position: -72px -158px;
  width: 18px;
  height: 17px;
}

.content {
  -webkit-font-smoothing: antialiased;
  .highlight {
    border-radius: 2px;
    margin-bottom: 20px;
  }
  code {
    background: #f5f5f5;
    padding: 3px 6px;
    border-radius: 3px;
    font-family: $font-family-mono;
    font-size: 0.9rem;
    line-height: 1.4;
  }
  pre {
    font-family: $font-family-mono;
    font-size: 0.9rem;
    line-height: 1.4;
    margin: 0;
    padding: 10px;
    border-radius: 1px;
    code {
      font-family: $font-family-mono;
      font-size: 0.9rem;
      line-height: 1.4;
      border-radius: none;
      padding: 0;
      margin: 0;
      background: none;
    }
  }
  
  strong {
    font-weight: bold;
  }
  em {
    font-style: italic;
    font-weight: normal;
  }
  ol {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: decimal;
    li {
      margin-bottom: 5px;
      margin-left: 20px;
    }
  }
  ul {
    margin-top: 10px;
    margin-bottom: 20px;
    list-style-type: disc;
    li {
      margin-bottom: 5px;
      margin-left: 20px;
    }
  }
  a {
    text-decoration: underline;
  }
  p {
    font-family: $font-family-base;
    font-size: 1rem;
    line-height: 1.4;
    color: lighten($black, 10%);
    font-weight: 400;
  }
  h1 {
    font-family: $font-family-base;
    font-size: 2.6rem;
    line-height: 1.4;
    font-weight: 300;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: 300;
    letter-spacing: -0.01em;
    font-family: $font-family-base;
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.6rem;
    line-height: 1.4;
    font-weight: 400;
    font-family: $font-family-base;
    margin-bottom: 20px;
  }
  h4 {
    font-size: 1.5rem;
    line-height: 1.4;
    font-weight: 500;
    font-family: $font-family-base;
    margin-bottom: 20px;
  }
  h5 {
    font-size: 1.4rem;
    line-height: 1.4;
    font-weight: 600;
    font-family: $font-family-base;
    margin-bottom: 20px;
  }
  h6 {
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: 700;
    font-family: $font-family-base;
    margin-bottom: 20px;
  }
  blockquote {
    background: #F0F3FA;
    border: 1px solid #93B1F7;
    box-sizing: border-box;
    margin: 20px 0 20px 0;
    padding: 18px 18px 18px 50px;
    display: flex;
    flex-direction: column;
    position: relative;
  
    h1, h2, h3, h4 {
      font-size: 18px !important;
      line-height: 26px;  
      color: #163166;
      display: flex;
      align-items: center;
      margin-bottom: 6px;
      font-weight: bold;
    }
  
    p {
      font-family: Helvetica Neue;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;  
      color: #163166;
      margin-bottom: 0px;
    }
  }
  
  blockquote::before {
    content: "";
    background-image: url("/images/callout.png");
    position: absolute;
    width: 26px;
    height: 20px;
    display: block;
    top: 22px;
    left: 18px;
    background-size: 26px;
    background-repeat: no-repeat;
  }
  
  table {
    @extend .table;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
