p {
font-family: $font-family-base;
font-size: 1rem;
line-height: 1.4;
color: lighten($black, 10%);
font-weight: 400;
}
.prerelease-tag {
  font-weight: 400;
  font-size: 10px;
  line-height: 1;
  letter-spacing: 1px;
  padding: 4px 8px;
  border-radius: 25px;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;

  &.alpha {
    background-color: #45B451;
  }
  &.beta {
    background-color: #F9485C;
  }
}