{{ $currentNode := . }}

<div class="docs-menu">
  <h3>
    <a href="{{ .FirstSection.Params.redirect | relURL }}">
      {{ if eq .Section "kots-cli" }}
        KOTS CLI Documentation
      {{ else if eq .Section "release-notes" }}
        Release Notes
      {{ else if eq .Section "all-content" }}
      {{ else if eq .Section "data-transmission-policy" }}
      {{ else if eq .Section "kotsadm" }}
        Admin Console Docs
      {{ else }}
        {{ .Section | humanize }} Documentation
      {{ end }}
    </a>
  </h3>
  <ul>
    {{ range .FirstSection.Pages }}
      {{ if .IsPage }}
        <li class="{{ if eq .File $currentNode.File }}active{{ end }}">
          <a href="{{ .Permalink | relURL }}">
            {{ if eq .Section "release-notes" }}
              {{ if .Params.linktitle }}
                {{ .Params.linktitle }} - {{ dateFormat "Jan 02 2006" .Params.date }}
              {{ else }}
                {{ .Params.Title }} - {{ dateFormat "Jan 02 2006" .Params.date }}
              {{end }}
            {{ else }}
              {{ if .Params.linktitle }}
                {{ .Params.linktitle }}
              {{ else }}
                {{ .Title }}
              {{ end }}
            {{ end }}
          </a>
        </li>
      {{ else }}
        <li class="is-parent {{ if eq .File.Dir $currentNode.File.Dir }}active{{ end }}">
          <a href="{{ or .Params.redirect .Permalink | relURL }}">
            {{ if .Params.linktitle }}
              {{ .Params.linktitle }}
            {{ else }}
              {{ if not .Params.isHidden }}
                {{ .Title }}
              {{ end }}
            {{ end }}
          </a>
          {{ if .Params.isAlpha }} <span class="prerelease-tag alpha">alpha</span> {{ end }}
          {{ if .Params.isBeta }} <span class="prerelease-tag beta">beta</span> {{ end }}
        </li>
        {{ if $currentNode.IsDescendant . }}
          {{ range .Pages }}
            <li class="is-descendant {{ if .Params.isHidden }}hidden{{ end }} {{ if eq .File $currentNode.File }}active{{ end }}">
              <a href="{{ .Permalink | relURL }}">
                {{ if .Params.linktitle }}
                  {{ .Params.linktitle }}
                {{ else }}
                  {{ if not .Params.isHidden }}
                    {{ .Title }}
                  {{ end }}
                {{ end }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</div>
