name: auto-release-notes
on:
  repository_dispatch:
    types: [auto-release-notes]

jobs:
  build-pr-release-notes:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2

    - name: Create Release Notes Template
      id: release-notes
      env:
        KOTS_VERSION: ${{ github.event.client_payload.version }}
      run: |
        KOTS_VERSION=$( echo $KOTS_VERSION | sed -E -e 's/v(.*)/\1/g' )
        echo "::set-output name=parsed_kots_version::$KOTS_VERSION"
        
        cp ./hack/release-notes.md.tmpl ./content/release-notes/${KOTS_VERSION}.md
        DATE_TIME=$(date +%FT%H:%M:%S-07:00)
        sed -i "s/__DATE_TIME__/$DATE_TIME/g" ./content/release-notes/${KOTS_VERSION}.md
        sed -i "s/__VERSION__/$KOTS_VERSION/g" ./content/release-notes/${KOTS_VERSION}.md

    - name: Create Pull Request # creates a PR if there are differences
      uses: peter-evans/create-pull-request@v3
      id: cpr
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        commit-message: draft release notes kots ${{ github.event.client_payload.version }}
        title: '[${{ github.event.client_payload.version }}] Triggered Release Notes'
        branch: automation/release-notes-${ steps.release-notes.outputs.parsed_kots_version }}
        delete-branch: true
        labels: |
          release-notes
          automated
        draft: true
        base: "main"
        body: "Automated changes by the [auto-release-notes](https://github.com/replicatedhq/kots.io/blob/main/.github/workflows/update-release-notes.yaml) GitHub action"

    - name: Check outputs
      run: |
        echo "Pull Request Number - ${{ steps.cpr.outputs.pull-request-number }}"
        echo "Pull Request URL - ${{ steps.cpr.outputs.pull-request-url }}"
